<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>weatherservice.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeatherRestView</servlet-name>
        <servlet-class>weatherservice.WeatherRestView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestfulWeather</servlet-name>
        <servlet-class>weatherservice.restful.RestfulWeather</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchInfoView</servlet-name>
        <servlet-class>weatherservice.UserSearchInfoView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestfulSearchInfo</servlet-name>
        <servlet-class>weatherservice.restful.RestfulSearchInfo</servlet-class>
    </servlet>
    <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->
    <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeatherRestView</servlet-name>
        <url-pattern>/WeatherRestView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestfulWeather</servlet-name>
        <url-pattern>/restful/RestfulWeather/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchInfoView</servlet-name>
        <url-pattern>/UserSearchInfoView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestfulSearchInfo</servlet-name>
        <url-pattern>/restful/RestfulSearchInfo/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>weatherservice.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/loggedin/*</url-pattern>
    </filter-mapping>
</web-app>
